<div id="layoutSidenav_nav">
  <nav
    class="sb-sidenav accordion sb-sidenav-dark"
    id="sidenavAccordion"
    aria-label="side-nav"
  >
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Meus clientes</div>
        <a class="nav-link" [routerLink]="['/clientes']"
          ><div class="sb-nav-link-icon">
            <i class="fas fa-table mr-1"></i>
          </div>
          Lista de clientes</a
        >
        <div class="sb-sidenav-menu-heading">Cadastros</div>
        <a
          class="nav-link collapsed"
          href="#"
          data-toggle="collapse"
          data-target="#collapseLayouts"
          aria-expanded="false"
          aria-controls="collapseLayouts"
          ><div class="sb-nav-link-icon"><i class="fas fa-wrench"></i></div>
          Serviços
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i></div
        ></a>
        <div
          class="collapse"
          id="collapseLayouts"
          aria-labelledby="headingOne"
          data-parent="#sidenavAccordion"
        >
          <nav class="sb-sidenav-menu-nested nav" aria-label="side-menu">
            <a
              class="nav-link"
              href="layout-static.html"
              [routerLink]="['/servicos']"
              >Listar serviços</a
            >
            <a
              class="nav-link"
              href="layout-sidenav-light.html"
              [routerLink]="['/servicos/cadastrar']"
              >Cadastrar Servicos</a
            >
          </nav>
        </div>
        <a
          class="nav-link collapsed"
          href="#"
          data-toggle="collapse"
          data-target="#collapsePages"
          aria-expanded="false"
          aria-controls="collapsePages"
          ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
          ADM
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i></div
        ></a>
        <div
          class="collapse"
          id="collapsePages"
          aria-labelledby="headingTwo"
          data-parent="#sidenavAccordion"
        >
          <nav
            class="sb-sidenav-menu-nested nav accordion"
            id="sidenavAccordionPages"
            aria-label="side-nav"
          >
            <a
              class="nav-link collapsed"
              href="#"
              data-toggle="collapse"
              data-target="#pagesCollapseAuth"
              aria-expanded="false"
              aria-controls="pagesCollapseAuth"
              >Login
              <div class="sb-sidenav-collapse-arrow">
                <i class="fas fa-angle-down"></i></div
            ></a>
            <div
              class="collapse"
              id="pagesCollapseAuth"
              aria-labelledby="headingOne"
              data-parent="#sidenavAccordionPages"
            >
              <nav class="sb-sidenav-menu-nested nav" aria-label="side-nav">
                <a class="nav-link" href="login.html">Login</a
                ><a class="nav-link" href="register.html">Cadastre-se</a
                ><a class="nav-link" href="password.html">esqueci a senha</a>
              </nav>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      Start Bootstrap
    </div>
  </nav>
</div>
